* {
	margin: 0;
	padding: 0;
}

h1{
    text-align: center;
    padding-bottom: 20px;
}

img{
	border: none;
}

section{
	margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#secwrapper{
	padding-top: 20px; 
    display: flex;
}
article{
	min-width: 200px;
    max-width: 250px;
	margin-right: 40px;
    display: flex;
    flex-direction: column;
	border: 1px solid #c8c8c8;
	margin-bottom: 20px;
	padding: 7px;
	border-radius: 3px;
	box-shadow: 0 2px 3px #ccc;
	background-color: white;
    zoom:1;
}

.readmore{
	background-color: black;
	padding: 5px 10px;
	color: white;
	text-decoration: none;
	border-radius: 3px;
	display: inline-block;
    margin: auto;
}
.readmore:hover{
	background-color: #383838;
}
article p{
	margin-bottom: 7px;
}

.circle{
    width:75px;
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.blogpic{
    width: 250px;
    height: 140px;
}